[submodule "ubik"]
  path = ubik
  url  = https://github.com/hackbg/ubik.git
[submodule "protobuf.js"]
  path = protobuf.js
  url  = https://github.com/hackbg/protobuf.js.git
  branch = release-6.11.4-npm
